
أرسل Khalid إليك رسالة إلكترونية في وضع الحفاظ على السرّية في Gmail:

[image: شعار Gmail]Re: [discord/discord-api-docs] OAuth 2: Client Credential Grant process responds HTTP 500 if no scope is supplied (#2049) <https://confidential-mail.google.com/msg/AA12eChbRO-4gLTGJRGX6UgJoswxcdtAgpzFdkbGwNtg4lP5fe64bne8mrdViCJiWZflUhJjRAeODIjCFzOY9qf9PGzUvstoruT2M_04ZrGx7UiiRpHcy2l-Hfnct4Egz56upLJZmxk_6pZi13T__ILVZonev9oaCAvUdumgKDOQPvxX23UYRtHOxcpS42exTZyo8vfPFknjBQ==>

تم إرسال هذه الرسالة يوم 07‏/09‏/2020 الساعة 3:25:58 ص غرينتش-7
يمكنك فتحه بالنقر على الرابط أدناه. ولا يعمل هذا الرابط إلا مع reply@reply.github.com.

عرض الرسالة الإلكترونية <https://confidential-mail.google.com/msg/AA12eChbRO-4gLTGJRGX6UgJoswxcdtAgpzFdkbGwNtg4lP5fe64bne8mrdViCJiWZflUhJjRAeODIjCFzOY9qf9PGzUvstoruT2M_04ZrGx7UiiRpHcy2l-Hfnct4Egz56upLJZmxk_6pZi13T__ILVZonev9oaCAvUdumgKDOQPvxX23UYRtHOxcpS42exTZyo8vfPFknjBQ==>

يمنحك "الوضع السري في Gmail" مزيدًا من التحكُّم في الرسائل التي تُرسِلها. ربما اختار المُرسِل تحديد وقت انتهاء الصلاحية أو إيقاف الطباعة أو إعادة توجيه رسالة أو تتبّع الوصول إلى هذه الرسالة. مزيد من المعلومات <https://support.google.com/mail/answer/7674059>
Gmail: خدمة بريد إلكتروني مُقدَّمة من Google
يخضع الاستخدام لـ سياسة خصوصية Google <https://myaccount.google.com/privacypolicy?hl=ar>
Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA
لقد استلمت هذه الرسالة لأن أحدهم أرسل إليك رسالة إلكترونية في وضع الحفاظ على السرّية في Gmail.
[image: شعار Google]


Your Google verification code is 106587


Your Google verification code is 859613


> ## Actual Request
> ```
> POST /api/oauth2/token HTTP/1.1
> Content-Type: application/x-www-form-urlencoded
> Authorization: Basic [REDACTED]
> Accept: */*
> User-Agent: Example (https://example.com/, 0.1)
> Host: discord.com
> Content-Length: 29
> 
> grant_type=client_credentials
> ```
> 
> ## Expected Response
> HTTP 200 with access token object
> 
> ## Actual Response
> ```
> HTTP/1.1 500 Internal Server Error
> Date: Mon, 07 Sep 2020 05:25:29 GMT
> Content-Type: application/json
> Content-Length: 52
> Connection: keep-alive
> Set-Cookie: __cfduid=da49831b721aa89ecb26628acc109a5d81599456328; expires=Wed, 07-Oct-20 05:25:28 GMT; path=/; domain=.discord.com; HttpOnly; SameSite=Lax; Secure
> x-envoy-upstream-service-time: 21
> Via: 1.1 google
> CF-Cache-Status: DYNAMIC
> cf-request-id: 05089fd4d90000fe1c9a3c2200000001
> Expect-CT: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
> Strict-Transport-Security: max-age=31536000; includeSubDomains; preload
> X-Content-Type-Options: nosniff
> Server: cloudflare
> CF-RAY: 5cee0267ce3bfe1c-DTW
> 
> {"message": "500: Internal Server Error", "code": 0}
> ```
> 
> ## Suggested Solutions
> 1. Fix the endpoint so it returns access token even if no scope was supplied, OR
> 2. Make the [API document](https://discord.com/developers/docs/topics/oauth2#client-credentials-grant) to state "_one should specify at least one scope_" and make the endpoint to return HTTP 4xx when no scope was supplied.
> 
> ## Additional Comment
> Per the conversation in Discord API server's #api channel, at least one scope MUST be supplied in order to get an access token. However, the [RFC 6749 section 4.4.2](https://tools.ietf.org/html/rfc6749#section-4.4.2) states that scopes are optional, and Discord's [API document](https://discord.com/developers/docs/topics/oauth2#client-credentials-grant) currently states: "I _**can**_ specify scopes," which implies scopes being optional.
> 
> If Discord OAuth 2 token exchange endpoint really wanted at least one scope to be supplied, it should have returned HTTP 400 or any 4xx code and have the document to state this.



Your Google verification code is 138217
